@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  background: #000000;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  font: 300 30px/1 'EB Garamond', serif;
  text-align: center;
  color: #fff;
  animation: 155s credits linear 1;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.name {
  margin-bottom: 20px;
  font-size: 30px;
}

.title {
    color:#ec2828;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
}

.subtitle {
    color:#ec2828;
    margin-bottom: 20px;
    font-size: 40px;
}

@keyframes credits {
    0% { top:  100%; }
  100% { top: -500%; }
}